/*-- scss:defaults --*/
// Defining SCSS Vars

// Colors
$darkblue: #053660;
$teal: #147C91;
$darkgray: #333333;
$lightgray: #64605f;
$darkgreen: #0e6426;
$yelloworange: #f7b708;
$csugold: #C8C372;
$csugreen: #1E4D2B;
$_80-black: #59595B;


// Base document colors
$navbar-bg: $darkgreen; //navbar
$navbar-fg: $yelloworange; //navbar foregorund elements
